.container {
  border: solid grey 1px;
  padding-left: 1px;
  min-height: 300px;
}

.container h2 {

}

.container ul {
  list-style-position: inside;
}

.container ul li>p:first-child {
  display: inline;
}